$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "fonts/";
// bower:
// endbower

@import "font-awesome-sass/assets/stylesheets/font-awesome.scss";
@import "font-awesome-sass/assets/stylesheets/_font-awesome-sprockets.scss";




@font-face {
	font-family: Poppins-Regular;
	src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
	font-family: Poppins-Bold;
	src: url(fonts/Poppins-Bold.ttf);
}
@font-face {
	font-family: Poppins-Light;
	src: url(fonts/Poppins-Light.ttf);
}
@font-face {
	font-family: Poppins-Medium;
	src: url(fonts/Poppins-Medium.ttf);
}
@font-face {
	font-family: Poppins-SemiBold;
	src: url(fonts/Poppins-SemiBold.ttf);
}
@font-face {
	font-family: RobotoRegular;
	src: url("fonts/RobotoRegular/RobotoRegular.eot");
	src: url("fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"), url("fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: RobotoMedium;
	src: url("fonts/RobotoMedium/RobotoMedium.eot");
	src: url("fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"), url("fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: RobotoLight;
	src: url("fonts/RobotoLight/RobotoMedium.eot");
	src: url("fonts/RobotoLight/RobotoMedium.eot?#iefix")format("embedded-opentype"), url("fonts/RobotoLight/RobotoLight.woff") format("woff"), url("fonts/RobotoLight/RobotoLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}







body {
	background: #f5f8fa;
}
header {
	background: #ffffff;
	margin-top: 10px;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
	border-radius: 7px;
	color: #737980;
	padding: 30px;
	font-family: Poppins-Medium, Arial, Helvetica, sans-serif;
	color: #2e3033;
}
input[type="radio"] {
	display: none;
}
label {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
input {
	height: 40px;
	border-radius: 50px;
	outline: none;
	border: 1px solid #ebeef0;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}
.last-visit{
	&>span{
		vertical-align: middle;
		text-transform: uppercase;
		margin-right: 15px;
	}
}

tags-input .tags .tag-item,
tags-input .tags .tag-item .remove-button{
    font-family: Poppins-Medium, Helvetica, Arial, sans-serif !important;
}

tags-input .tags .input{
	width: 240px !important;
    font-family: Poppins-Medium, Helvetica, Arial, sans-serif !important;
}

.pub-date {
	&>span {
		vertical-align: middle;
		text-transform: uppercase;
		margin-right: 15px;
		display: inline-block;
		width: 80px;
	}
	label {
		vertical-align: middle;

		span {
			height: 40px;
			border-radius: 50px;
			outline: none;
			border: 1px solid #ebeef0;
			padding-left: 20px;
			padding-right: 20px;
			display: inline-block;
			line-height: 37px;
			cursor: pointer;
			width: 130px;
			font-weight: normal;

			&:first-child{
				margin-right: 15px;
			}
		}
		input {
			visibility: hidden;
			width: 0px;
			height: 0;
			margin: 0;
			padding: 0;
			display: block;
		}
	}
}
.select_all {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	justify-content: flex-end;

	div{
		label{
			cursor: pointer;
			font-weight: normal;
		}

		&:first-child{
			margin-right: 15px;
		}
	}
}
.limit_btns {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
tags-input .tags {
	border-radius: 50px;
	outline: none;
	box-shadow: none;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	border: 1px solid #ebeef0 !important;
}
tags-input .tags.focused {
	box-shadow: none !important;
}
.group_btn {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	label {
		height: 40px;
		outline: none;
		border: 1px solid #ebeef0;
		padding-left: 20px;
		padding-right: 20px;
		background: none;
		cursor: pointer;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		font-weight: normal;

		&:hover {
			color: #fff;
			background-color: #52cc7a;
		}
	}
	&>div:first-child {
		label {
			border-top-left-radius: 50px;
			border-bottom-left-radius: 50px;
		}
	}
	&>div:last-child {
		label {
			border-top-right-radius: 50px;
			border-bottom-right-radius: 50px;
		}
	}
	input[type="radio"]:checked + label {
		color: #fff;
		background-color: #52cc7a;
	}
	&>div {
		margin-left: -1px;
	}
}
tags-input .host {
	margin: 0;
}
tags-input {
	min-height: 40px;
	height: auto;
}
.tags {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.group_sorts {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	span.fa {
		font-size: 14px;
		margin-left: 15px;
	}
	&>div {
		margin-left: -1px;

		&:first-child {
			button {
				border-top-left-radius: 50px;
				border-bottom-left-radius: 50px;
			}
		}
		&:last-child {
			button {
				border-top-right-radius: 50px;
				border-bottom-right-radius: 50px;
			}
		}
		button, label {
			height: 40px;
			outline: none;
			border: 1px solid #ebeef0;
			padding-left: 20px;
			padding-right: 20px;
			background: none;
			text-transform: uppercase;

			&:hover {
				color: #fff;
				background-color: #52cc7a;
			}
		}
		button.active {
			color: #fff;
			background-color: #52cc7a;
		}
		input[type="radio"]:checked + label {
			color: #fff;
			background-color: #52cc7a;
		}
		label {
			font-weight: normal;
			margin: 0;
			line-height: 38px;
			cursor: pointer;
		}
	}
}
.goods {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	div {
		&:not(:last-child) {
			margin-right: 10px;
		}
		label {
			height: 40px;
			border-radius: 50px;
			outline: none;
			padding-left: 20px;
			padding-right: 20px;
			background: none;
			text-transform: uppercase;
			font-weight: normal;
			line-height: 38px;
			cursor: pointer;

			&:hover {
				color: #fff;
				background-color: #52cc7a;
				box-shadow: 0px 10px 20px 0px rgba(82, 204, 122, 0.5);
				border-color: #52cc7a;
			}
		}
		input[type="radio"]:checked + label {
			color: #fff;
			background-color: #52cc7a;
			box-shadow: 0px 10px 20px 0px rgba(82, 204, 122, 0.5);
			border-color: #52cc7a;
		}
	}
}
.english_good, .remote_good {
	input {
		display: none;
	}
	label {
		width: 100%;
		height: 40px;
		border-radius: 50px;
		outline: none;
		border: 1px solid #ebeef0;
		padding-left: 20px;
		padding-right: 20px;
		background: none;
		font-weight: normal;
		line-height: 38px;
		transition: linear .2s all;
		cursor: pointer;

		&:hover {
			color: #fff;
			background-color: #52cc7a;
			box-shadow: 0px 10px 20px 0px rgba(82, 204, 122, 0.5);
			border-color: #52cc7a;
		}
		i {
			margin-right: 15px;
		}
	}
	input[type="checkbox"]:checked + label {
		color: #fff;
		background-color: #52cc7a;
		box-shadow: 0px 10px 20px 0px rgba(82, 204, 122, 0.5);
		border-color: #52cc7a;
	}
}
tags-input .tags .tag-item {
	background: #52cc7a;
	color: #fff;
	border: 1px solid #52cc7a;
}
tags-input .tags .tag-item .remove-button {
	color: #fff;
	text-decoration: none;
}
.sort-group {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	&>span {
		margin-right: 15px;
	}
}
.select_all {
	label {
		text-transform: uppercase;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;

		span {
			display: inline-block;
			width: 20px;
			height: 20px;
			margin-left: 10px;
			background: url(../images/checkbox.png) no-repeat;
		}
	}
	input[type="checkbox"] {
		display: none;

		&:checked + label>span {
			background: url(../images/checkbox.png) no-repeat 0 -20px;
		}
	}
}
tags-input .tags .tag-item.selected {
	background: #ec2f2e;
	border-color: #C62828;
}
navbar .container {
	header {
		&>.row {
			&>.col-lg-12 {
				&:not(:last-child) {
					margin-bottom: 35px;
				}
			}
		}
	}
}
.user-card {
	background-color: #fff;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
	border-radius: 7px;
	padding: 30px 30px 0 30px;
	margin-top: 30px;
	transition: linear .2s all;
	position: relative;

	&.active {
		box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.3) !important;
	}
	.user-card-h {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;

		.flex-item {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;

			.last-visit {
				margin-right: 25px;
			}
			&>div {
				span {
					font-family: Poppins-Medium, Arial, Helvetica, sans-serif;
					color: #737980;
					font-size: 14px;
				}
				small {
					color: #2e3033;
					font-size: 14px;
					margin-left: 10px;
					font-weight: bold;
					font-family: Poppins-Bold, Arial, Helvetica, sans-serif;
				}
			}
		}
		.flex-item>a {
			margin: 0;
			font-size: 18px;
			color: #2e3033;
			font-family: Poppins-Medium, Arial;
			text-decoration: underline;
			margin-right: 25px;
			text-transform: capitalize;
		}
		.card-h-navbar {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;

			ul {
				li {
					display: inline-block;
					margin-right: 15px;

					&>span {
						display: inline-block;
						background-color: #ebeef0;
						border-radius: 20px;
						padding-left: 15px;
						padding-right: 15px;
						text-align: center;
						transition: linear .2s all;
						color: #737980;
					}
					a {
						display: inline-block;
						background-color: #ebeef0;
						border-radius: 20px;
						min-width: 40px;
						text-align: center;
						transition: linear .2s all;
						color: #737980;
						text-decoration: none;
						cursor: pointer;

						&.thumb-up {
							&:hover, &.active {
								background: #52cc7a;
								color: #fff;
								box-shadow: 0px 10px 20px 0px rgba(82, 204, 122, 0.5);
							}
						}
						&.thumb-down {
							&:hover, &.active {
								background: #ff4d55;
								color: #fff;
								box-shadow: 0px 10px 20px 0px rgba(255, 77, 85, 0.5);
							}
						}
						&.thumb-star {
							&:hover, &.active {
								background: #fbcc64;
								color: #fff;
								box-shadow: 0px 10px 20px 0px rgba(251, 204, 100, 0.5);
							}
						}
					}
				}
			}
			span {
			}
		}
	}
	.user-card-body {
	}
}
.checkbox {
	margin: 0;
	margin-left: 5px;

	span {
		display: inline-block;
		width: 20px;
		height: 20px;
		background: url(../images/checkbox.png) no-repeat 0 0;
	}
	input[type="checkbox"] {
		display: none;

		&:checked + label {
			span {
				background: url(../images/checkbox.png) no-repeat 0 -20px;
			}
		}
	}
	label {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		padding: 0;
	}
}
.card-info {
	.user-location {
		font-size: 12px;
		color: #52cc7a;
		text-transform: uppercase;
		margin-bottom: 30px;
	}
}
.rate-circles {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 30px;
	justify-content: space-between;

	circle {
		stroke: transparent !important;
	}
	.rate-item {
		position: relative;

		.rate-info {
			text-align: center;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			h3, small {
				margin: 0;
				font-size: 48px;
				color: #2e3033;
				text-transform: none;
				margin: 0;
				font-family: Poppins, Helvetica, sans-serif;
				white-space: nowrap;
			}
			span {
				display: block;
				font-size: 12px;
				color: #737980;
			}
		}
	}
}
.english {
	padding-top: 30px;
	border-top: 1px solid #ebeef0;
	margin-bottom: 35px;
	color: #b8c2cc;
}
.user-detail-skill {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;

	&:not(:last-child) {
		margin-bottom: 5px;
	}
	.skill-name {
		color: #5c6166;
		word-break: break-word;
	}
	.skill-rate {
		width: 130px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		flex-shrink: 0;
		align-items: center;
		margin-left: 25px;

		.rate {
			display: inline-block;
			width: 15px;
			height: 15px;
			background: #ebeef0;
			border-radius: 100%;

			&.active {
				background: #52cc7a;
			}
		}
	}
}
.user-card-body .row>div:not(:last-child) {
	border-right: 1px solid #dedede;
}
.column-container {
	padding-right: 25px;
	padding-left: 20px;
}
.single {
	p {
		margin: 0;
		word-break: break-word;
	}
	.general, .highlights {
		padding-bottom: 40px;
		border-bottom: 1px solid #ebeef0;
		margin-bottom: 40px;
	}
	.looking-for{
		margin-bottom: 40px;
	}
	b {
		margin-bottom: 30px;
		display: block;
	}
}
@media (max-width: 767px){
	.user-card .user-card-h .card-h-navbar ul li{
		margin-right: 5px !important;
	}
	.user-card-h{
		.checkbox{
			position: absolute;
			top: 15px;
			right: 15px;
		}
	}
}
@media (min-width: 1200px){
	.user-card-body .row {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
}
@media (max-width: 1200px){
	.user-card-body .row > div:not(:last-child){
		border: none !important;
	}
	.user-card-h{
		flex-direction: column;

		.flex-item:first-child{
			margin-bottom: 0px;
		}

		.flex-item:first-child{
			flex-direction: column;
		    justify-content: flex-start;
		    align-items: flex-start;

		    a{
		    	margin: 0 0 15px 0;
		    }
		}
	}
}
@media (max-width: 479px){
	.user-card-h{
		.flex-item:last-child{
			flex-direction: column;
			align-items: flex-start;
		}
	}
	.user-detail-skill{
		flex-direction: column;
		margin-bottom: 15px !important;

		&>span{
			margin-bottom: 5px;
		}

		.skill-rate{
			margin: 0 !important;
		}
	}
}
form.user_info_detail{
	div {
		margin-bottom: 30px;
	}
	input, select {
		width: 100%;
		height: 40px;
		border: 1px solid #ebeef0;
		border-radius: 50px;
		outline: none;
		padding-left: 15px;
		padding-right: 15px;
	}
	textarea {
		width: 100%;
		height: 100px;
		resize: none;
		border: 1px solid #ebeef0;
		border-radius: 25px;
		padding: 25px;
		outline: none;
	}
	.selects {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;

		select {
			width: 45% !important;
			background: transparent;
			border: 1px solid #ebeef0;
			outline: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			text-indent: 1px;
			text-overflow: '';
			background-image: url('../images/arrow.png');
			background-repeat: no-repeat;
			-ms-background-position-x: 95%;
			background-position-x: 85%;
			-ms-background-position-y: 50%;
			background-position-y: 50%;
		}
	}
}

.visible2400{
	display: none;

	.general,
	.highlights,
	.lookingfor{
		padding-bottom: 0;
		border: none !important
	}
}

.none{
	display: none;
}


@media (min-width: 2399px){
	.select_all{
		justify-content: center;
	}
	header{
		margin-top: 0;
	}
	.v50{
		width: 50% !important;
	}
	.v55{
		width: 55% !important;
	}
	.v45{
		width: 45% !important;
	}
	navbar{
		position: fixed;
	    top: 0;
	    left: 0;
	    z-index: 9999999999;
	    width: 100%;

		.container{
			width: 100%;
			padding: 0;
		}
	}
	.cards{
		padding-top: 260px;
	}
	header{
		*{
			
		}
	}
	.visible2400{
		display: block;
	}
	.hide2400{
		display: none;
	}
	.cards .container{
		width: 2300px;
	}
	.cards .col-lg-4{
		width: 380px;
	}
}

@media (max-width: 2399px){
	navbar{
		.container{
			max-width: 95%;
			width: 100%;
		}
	}
}

.city{
	margin: 25px 0;
	cursor: pointer;
    color: #737980;
    text-transform: uppercase;
    font-family: Poppins-Medium, Arial, Helvetica, sans-serif;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    padding: 25px;
    background: transparent;
    text-align: center;
    margin-bottom: 15px;
    height: 80px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    transition: linear .2s all;

    &.active,
    &:hover{
    	background: #fff;
    }
}
.group_city{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	cursor: pointer;

	input[type="checkbox"]{
		display: none;

		&:checked + label{
			color: #fff;
			background: #52cc7a;
		}
	}

	input[type="text"]{
		border-top-right-radius: 0;
    	border-bottom-right-radius: 0;
	}

	label{
		transition: linear .2s all;
		cursor: pointer;
	    padding-left: 20px;
	    padding-right: 20px;
	    border: 1px solid #ebeef0;
	    border-top-right-radius: 50px;
	    border-bottom-right-radius: 50px;

		&:hover{
			color: #fff;
			background: #52cc7a;
		}
	}

	&>div{
		flex-shrink: 0;
    	margin-left: -1px;
    	height: 40px;
	    outline: none;
	    background: none;
	    line-height: 38px;
	    cursor: pointer;
	}
}

.footer-info{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	&>*:not(:last-child){
		margin-right: 15px;
	}

	&>span{
		font-size: 14px;
	    color: #b8c2cc;
	    text-transform: uppercase;
	    font-family: Poppins-Medium, Arial, Helvetica, sans-serif;
	}

	.page{
		font-family: Poppins-Medium, Arial, Helvetica, sans-serif;;
	    font-size: 14px;
	    color: #b8c2cc;
	    display: -webkit-flex;
	    display: -moz-flex;
	    display: -ms-flex;
	    display: -o-flex;
	    display: flex;
	    -ms-align-items: center;
	    align-items: center;
	    justify-content: center;
	    height: 40px;
	    border: 1px solid #edf0f2;
	    min-width: 80px;
	    border-radius: 100px;

	    &>div span:first-child{
	    	color: #52cc7a;
	    }
	}

	.pagination-custom{
		flex-shrink: 0;
		button{
			width: 40px;
		    height: 40px;
		    padding: 0;
		    transition: linear .2s all;
		    background: #ffffff;
		    border-radius: 100%;
		    outline: none;
    		border: 1px solid #ebeef0;

    		i{
    			margin: 0;
    			font-size: 20px;
    		}

    		&:hover,
    		&:disabled{
    			background: #ebeef0;
    		}

		    &:first-child{
		    	margin-right: 10px;
		    }
		}
	}
}

.reset-btn{
	transition: linear .2s all;
	width: 55px;
    background: #ebeef0;
    height: 40px;
    padding: 0;
    transition: linear .2s all;
    border-radius: 50px;
    outline: none;
    border: 2px solid #ebeef0;

    i{
    	margin: 0;
    	font-size: 20px;
    }

    &:hover{
    	background-color: #FF0101;
	    border-color: #FF0101;
	    color: #fff;
	    box-shadow: 0px 5px 25px 0px rgba(255, 1, 1, 0.3);

	    i{
	    	color: #fff;
	    }
    }
}
.like-filter{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	button{
		width: 50px;
	    height: 40px;
	    padding: 0;
	    border-radius: 0;
	    margin-left: -1px;
	    transition: linear .2s all;
	    outline: none;
    	border: 1px solid #ebeef0;
    	background: none;

	    &:first-child{
	    	border-top-left-radius: 50px;
    		border-bottom-left-radius: 50px;

    		&:hover{
				background: #52cc7a;
    			color: #fff;
    			box-shadow: 0px 10px 20px 0px rgba(82, 204, 122, 0.5);
    			border: 1px solid #52cc7a;
    		}
	    }

	    &:last-child{
	    	border-top-right-radius: 50px;
    		border-bottom-right-radius: 50px;

    		&:hover{
    			background: #fbcc64;
    			color: #fff;
    			box-shadow: 0px 10px 20px 0px rgba(251, 204, 100, 0.5);
    			border: 1px solid #fbcc64;
    		}
	    }

	    &:nth-child(2){
	    	&:hover{
				background: #ff4d55;
			    color: #fff;
			    box-shadow: 0px 10px 20px 0px rgba(255, 77, 85, 0.5);
			    border: 1px solid #ff4d55;
	    	}
	    }
	}
}
.info-card{
	margin: 25px 0 15px;
    color: #ffffff;
    font-family: Poppins-Medium,Arial,Helvetica,sans-serif;
    padding: 25px;
    background: #0081ff;
    text-align: center;
    height: 80px;
    display: -moz-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: linear .2s all;
	justify-content: space-between;
	border-radius: 7px;

	h4{
		span{
			text-decoration: underline;
		}
	}

	.fa-times{
		font-size: 24px;
    	cursor: pointer;
	}

    .fa-info-circle{
    	font-size: 58px;
    }
}
@media (max-width: 991px){
	button,
	input,
	input + label,
	tags-input{
		margin-bottom: 25px;
	}
	.pub-date>label{
		margin-bottom: 15px;
	}
	navbar .container header > .row > .col-lg-12:not(:last-child){
		margin-bottom: 0 !important;
	}
	.footer-info,
	.goods,
	.group_btn,
	.sort-group{
		justify-content: center !important;
		align-items: baseline;
	}
	.select_all{
		justify-content: flex-start;
	}
}
.fa-pulse.fa-3x{
    font-size: 70px;
    display: block;
    margin: 100px auto 0;
}