<div class="container">
	<header>
		<div class="row">
			<div class="col-lg-12 v50">
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-lg-10">
						<tags-input add-on-space="true" 
						            ng-model="storage.skills"
						            placeholder="Add skill (css:1-3 php:7 max 7)"></tags-input>
					</div>
					<div class="col-xs-12 col-sm-4 col-lg-2">
						<form ng-submit="blur_request('salary', salary)">
							<input type="text" 
							   placeholder="Salary" 
							   ng-model="salary"
							   ng-blur="blur_request('salary', salary)">
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-12 v50">
				<div class="row">
					<div class="col-md-7 col-lg-8">
						<div class="row">
							<div class="col-sm-3 col-lg-2">
								<form ng-submit="blur_request('experience', experience)">
									<input type="text" 
									   placeholder="Exp." 
									   ng-model="experience"
									   ng-blur="blur_request('experience', experience)">
								</form>
							</div>
							<div class="col-sm-9 col-lg-10">
								<div class="row">
									<div class="col-xs-12 col-sm-6 col-lg-6">
										<form ng-submit="blur_request('city', city)">
											<div class="group_city">
												<input type="text" 
										       placeholder="City" 
											   ng-model="city"
											   ng-blur="blur_request('city', city)">
												<div>
													<input type="checkbox" 
												   ng-model="storage.grp"
												   id="group">
													<label for="group"> <i class="fa fa-check"></i>
														Group
													</label>
												</div>
											</div>
										</form>
										
									</div>
									<div class="col-xs-12 col-sm-6 col-lg-6">
										<form ng-submit="blur_request('q', q)">
										<input type="text" 
									   placeholder="Text search"
									   ng-model="q"
									   ng-blur="blur_request('q', q)">
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-lg-4">
						<div class="row">
							<div class="col-sm-offset-2 col-sm-4 col-md-6 col-xs-12 col-md-offset-0">
								<div class="english_good">
									<input type="checkbox" id="english"
										   ng-model="storage.en">
									<label for="english"> <i class="fa fa-check"></i>
										Good English
									</label>

								</div>
							</div>
							<div class="col-sm-4 col-md-6 col-xs-12">
								<div class="remote_good">
									<input type="checkbox" id="remote" 
										   ng-model="storage.rw">
									<label for="remote">
										<i class="fa fa-check"></i>
										Remote Work
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 v55">
				<div class="row">
					<div class="col-sm-6 col-lg-4">
						<div class="pub-date">
							<span>pub.date</span>
							<label>
								<span>{{storage.pubDate.startDate}}</span>
								<span>{{storage.pubDate.endDate}}</span>
								<input date-range-picker 
								   class="form-control date-picker" style="visibility: hidden;" 
								   type="text" 
								   ng-model="pubDate" />
							</label>
						</div>
					</div>
					<div class="col-sm-6 col-lg-4">
						<div class="pub-date">
							<span>last visit</span>
							<label>
								<span>{{storage.lastVisit.startDate}}</span>
								<span>{{storage.lastVisit.endDate}}</span>
								<input date-range-picker 
								   class="form-control date-picker" style="visibility: hidden;" 
								   type="text" 
								   ng-model="lastVisit" />
							</label>
						</div>
					</div>
					<div class="col-sm-12 col-lg-4">
						<div class="select_all">
							<div>
								<input type="checkbox" 
									   ng-model="selectAll" 
									   id="selectAll"
									   ng-change="changeAllSelected(selectAll)">
								<label for="selectAll">
									Select all
									<span></span>
								</label>
							</div>
							<div class="like-filter">
								<button type="button"
								        ng-click="setMultiGood(1)">
									<i class="fa fa-thumbs-up"></i>
								</button>
								<button type="button" 
								        ng-click="setMultiGood(-1)">
									<i class="fa fa-thumbs-down"></i>
								</button>
								<button type="button" 
								        ng-click="setMultiGood(2)">
									<i class="fa fa-star"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 v45">
				<div class="row">
					<div class="col-xs-12 col-md-4 col-lg-4">
						<div class="group_btn">
							<div>
								<input type="radio" value="10" name="limit" id="limit_10"
									   ng-model="storage.limit">
								<label for="limit_10">10</label>

							</div>
							<div>
								<input type="radio" value="50" name="limit" id="limit_50"
									   ng-model="storage.limit">
								<label for="limit_50">50</label>

							</div>
							<div>
								<input type="radio" value="100" name="limit" id="limit_100"
									   ng-model="storage.limit">
								<label for="limit_100">100</label>
							</div>
							<div>
								<input type="radio" value="200" name="limit" id="limit_200"
									   ng-model="storage.limit">
								<label for="limit_200">200</label>
							</div>
							<div>
								<input type="radio" value="1000" name="limit" id="limit_1000"
									   ng-model="storage.limit">
								<label for="limit_1000">1000</label>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-8 col-lg-8">
						<div class="sort-group">
							<span class="hidden-md">Sort:</span>
							<div class="group_sorts">
								<div>
									<button type="button" 
										ng-click="changeState('sklf')"
										class="{{storage.sklf != 0 ? 'active' : ''}}">
										skill
										<span class="fa {{storage.sklf == 1 ? 
										  'fa-angle-down' : 'fa-angle-up'}}" 
										  ng-show="storage.sklf"></span>
									</button>
								</div>
								<div>
									<button type="button" 
									    ng-click="changeState('slrf')"
									    class="{{storage.slrf != 0 ? 'active' : ''}}">
										salary
										<span class="fa {{storage.slrf == 1 ? 
										  'fa-angle-down' : 'fa-angle-up'}}" 
										  ng-show="storage.slrf"></span>
									</button>
								</div>
								<div>
									<input type="radio" id="pub_date" name="sort_type"
									   value="create_date"
									   ng-model="storage.sort">
									<label for="pub_date">pub.date</label>
								</div>
								<div>
									<input type="radio" id="last_visit" name="sort_type"
									   value="last_date"
									   ng-model="storage.sort">
									<label for="last_visit">last.visit</label>
								</div>
								<div>
									<button type="button" 
									    ng-click="changeState('expf')"
									    class="{{storage.expf != 0 ? 'active' : ''}}">
										experience
										<span class="fa {{storage.expf == 1 ? 
										  'fa-angle-down' : 'fa-angle-up'}}" 
										  ng-show="storage.expf"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-6">
						<div class="goods">
							<div>
								<input type="radio" id="bad_btn" name="goods" value="-1" 
								   ng-model="storage.good">
								<label for="bad_btn">BAD</label>
							</div>
							<div>
								<input type="radio" id="neutral_btn" name="goods" value="0" 
								   ng-model="storage.good">
								<label for="neutral_btn">NEUTRAL</label>
							</div>
							<div>
								<input type="radio" id="good_btn" name="goods" value="1" 
								   ng-model="storage.good">
								<label for="good_btn">GOOD</label>
							</div>
							<div>
								<input type="radio" id="best_btn" name="goods" value="2" 
								   ng-model="storage.good">
								<label for="best_btn">BEST</label>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="footer-info">
							<span>update: {{data.lupd | date: 'HH:mm:ss yyyy-MM-dd'}}</span>
							<span>{{data.count}} candidates</span>
							<div class="page">
								<div>
									<span>{{storage.page}}</span>
									<span>
										<span>/</span>
										<span>{{data.pages}}</span>
									</span>
								</div>
							</div>
							<div class="pagination-custom">
								<button ng-click="paginateDec()"
										ng-disabled="storage.page == 1">
									<i class="fa fa-angle-left"></i>
								</button>
								<button ng-click="paginateInc(data)"
										ng-disabled="data.pages <= storage.page">
									<i class="fa fa-angle-right"></i>
								</button>
							</div>
							<button type="button" 
								        ng-click="resetStorage()"
								        class="reset-btn">
								<i class="fa fa-times"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
</div>