<div class="user-card {{user.selected ? 'active': ''}}">
	<div class="column-container">
		<div class="user-card-h">
		<div class="flex-item">
			<a ng-href="http://djinni.co/q/{{user.uid}}/?lang=en" target="_blank">{{user.name}}</a>
			<div class="card-h-navbar">
				<ul>
					<li>
						<span>{{user.site}}</span>
					</li>
					<li>
						<a ng-click="setUserGood(1, user, $index, city.index)" 
						   class="thumb-up {{user.good == 1 ? 'active' : ''}}"> <i class="fa fa-thumbs-up"></i>
						</a>
					</li>
					<li>
						<a ng-click="setUserGood(-1, user, $index, city.index)" 
						   class="thumb-down {{user.good == -1 ? 'active' : ''}}"> <i class="fa fa-thumbs-down"></i>
						</a>
					</li>
					<li>
						<a ng-click="setUserGood(2, user, $index, city.index)" 
						   class="thumb-star {{user.good == 2 ? 'active' : ''}}">
							<i class="fa fa-star"></i>
						</a>
					</li>
				</ul>
				<div class="checkbox">
					<input type="checkbox" 
						   ng-model="user.selected" 
						   ng-change="addToSelected(user)"
						   id="{{user.uid}}">
					<label for="{{user.uid}}">
						<span></span>
					</label>
				</div>
			</div>
		</div>
		<div class="flex-item">
			<div class="last-visit">
				<span>Last visit:</span>
				<small>{{user.last_date | date: 'yyyy-MM-dd'}}</small>
			</div>
			<div class="pub-date">
				<span>Pub. date:</span>
				<small>{{user.create_date | date: 'yyyy-MM-dd'}}</small>
			</div>
		</div>
	</div>
	</div>
	<div class="user-card-body">
		<div class="row">
			<div class="col-md-12 col-lg-4">
				<div class="column-container">
					<div class="card-info">
						<div class="user-location">{{user.city}}</div>
						<div class="rate-circles">
							{{getCurrentPercent(user.salary)}}
							<div class="rate-item">
								<div class="rate-circle" 
							    round-progress
							    max="100"
							    current="salaryPercent"
							    color={{salaryColor}}
							    bgcolor="#eaeaea"
							    radius="70"
							    stroke="8"
							    rounded="true"
							    duration="800"
							    animation="easeInOutQuart"
							    animation-delay="0"></div>
								<div class="rate-info">
									<h3>
										{{user.salary > 999 ? user.salary/1000 : user.salary}}
										<small ng-show="user.salary >999">k</small>
									</h3>

									<span>Salary, USD</span>
								</div>
							</div>
							<div class="rate-item">
								{{getCurrentExp(user.experience)}}
								<div class="rate-circle" 
							    round-progress
							    max="100"
							    current="expPercent"
							    color={{expColor}}
							    bgcolor="#eaeaea"
							    radius="70"
							    stroke="8"
							    rounded="true"
							    duration="800"
							    animation="easeInOutQuart"
							    animation-delay="0"></div>
								<div class="rate-info">
									<h3>{{user.experience}}</h3>
									<span>Experience</span>
								</div>
							</div>
						</div>
						<div class="user-detail-skills hide2400" ng-hide="!user.skills.length">
							<div class="user-detail-skill" ng-repeat="skill in user.skills">
								<span>{{skill.name}}</span>
								<div class="skill-rate">
									<span class="rate {{skill.v >0 ? 'active' : ''}}"></span>
									<span class="rate {{skill.v >1 ? 'active' : ''}}"></span>
									<span class="rate {{skill.v >2 ? 'active' : ''}}"></span>
									<span class="rate {{skill.v >3 ? 'active' : ''}}"></span>
									<span class="rate {{skill.v >4 ? 'active' : ''}}"></span>
									<span class="rate {{skill.v >5 ? 'active' : ''}}"></span>
									<span class="rate {{skill.v >6 ? 'active' : ''}}"></span>
								</div>
							</div>
						</div>
						<div class="english">
							<i class="fa fa-commenting-o"></i>
							<span>{{user.english}}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-lg-4 hide2400">
				<div class="column-container">
					<div class="single">
						{{createMarkUp(user)}}
						<div class="general">
							<b>Profile info:</b>
							<p ng-bind-html="general" ng-hide="!general"></p>
							<p ng-show="!general">No profile info here...</p>
						</div>

						<div class="highlights"> 
							<b>Highlights:</b>
							<p ng-bind-html="highlights" ng-hide="!highlights"></p>
							<p ng-show="!highlights">No highlights here...</p>
						</div>
						<div class="looking-for"> 
							<b>Looking for:</b>
							<p ng-bind-html="looking" ng-hide="!looking"></p>
							<p ng-show="!looking">No looking for here...</p>

						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 visible2400">
				<div class="column-container">
					<p ng-show="!user.skills.length">No skills available</p>
					<div class="user-detail-skills" ng-hide="!user.skills.length">
							<div class="user-detail-skill" ng-repeat="skill in user.skills">
								<span>{{skill.name}}</span>
								<div class="skill-rate">
									<span class="rate {{skill.v >0 ? 'active' : ''}}"></span>
									<span class="rate {{skill.v >1 ? 'active' : ''}}"></span>
									<span class="rate {{skill.v >2 ? 'active' : ''}}"></span>
									<span class="rate {{skill.v >3 ? 'active' : ''}}"></span>
									<span class="rate {{skill.v >4 ? 'active' : ''}}"></span>
									<span class="rate {{skill.v >5 ? 'active' : ''}}"></span>
									<span class="rate {{skill.v >6 ? 'active' : ''}}"></span>
								</div>
							</div>
						</div>
				</div>
			</div>
			<div class="col-lg-4 visible2400">
				<div class="column-container">
					<p ng-show="!general">No profile info here...</p>
					<div class="single" ng-hide="!general">
						{{createMarkUp(user)}}
						<div class="general">
							<p ng-bind-html="general"></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 visible2400">
				<div class="column-container">
					<p ng-show="!looking">No looking for here... </p>
					<div class="single">
						<div class="lookingfor" ng-hide="!looking">
							<p ng-bind-html="looking"></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 visible2400">
				<div class="column-container">
					<div class="single">
						<p ng-show="!highlights">No highlights here...</p>
						<div class="highlights" ng-hide="!highlights">
							<p ng-bind-html="highlights"></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-lg-4">
				<div class="column-container">
					<form class="user_info_detail">
						<div>
							<input type="text" 
								   placeholder="Name"
								   ng-model="user_name"
								   ng-blur="sendUserData(user, user_name, 'name')"></div>
						<div class="selects">
							<select ng-disabled="!selectOptions.length"
									name="eng_rate_t"
									ng-model="eng_rate_t"
									ng-options="eng_rate_t for eng_rate_t in selectOptions"
									ng-change="sendUserData(user, eng_rate_t, 'english')">

									<option ng-disabled="true"
											ng-selected="true"
											value="">
											eng. rate
									</option>
								
							</select>
							<select ng-disabled="!selectOptions.length"
									name="prog_rate_t"
									ng-model="prog_rate_t"
									ng-options="prog_rate_t for prog_rate_t in selectOptions"
									ng-change="sendUserData(user, eng_rate_t, 'progrrate')">

									<option ng-disabled="true"
											ng-selected="true"
											value="">
											prog. rate
									</option>
								
							</select>
						</div>
						<div>
							<input type="text" 
								   placeholder="Skype"
								   ng-model="user_skype"
								   ng-blur="sendUserData(user, user_skype, 'skype')"></div>
						<div>
							<input type="text" 
								   placeholder="When can start"
								   ng-model="user_start"
								   ng-blur="sendUserData(user, user_start, '')"></div>
						<div>
							<textarea rows="10" 
									  placeholder="Type your comment..."
									  ng-model="user_comments"
									  ng-blur="sendUserData(user, user_comments, 'notice')"></textarea>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>