<div class="container">
	<div class="row">
		<div class="col-xs-12" ng-repeat="city in data.users" 
							   ng-init="city.index = $index"
							   ng-init="city.show = true">
			<div class="city" ng-click="city.show = !city.show">
				{{city.city}} ({{city.c}})
			</div>
			<div class="city-body" ng-show="city.show" ng-animate="'animate'">
				<div ng-repeat="user in city.u">
					<user></user>
				</div>
				<div class="city" 
					 ng-show="city.show" 
					 ng-click="city.show = !city.show">
					HIDE
				</div>
			</div>
		</div>
	</div>
</div>